In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Dataset “Babyboom” (переменные Time of birth recorded on the 24-hour clock, Sex of the child (1 = girl, 2 = boy), Birth weight in grams, Number of minutes after midnight of each birth):
* Проверьте гипотезу, что средний вес девочек такой же, как вес мальчиков. 
* Проверьте гипотезу, что дисперсия веса девочек такая же, как и веса мальчиков.

In [29]:
 # Определение ширины каждого поля
colspecs = [
    (0, 8),    # Time of birth
    (8, 16),   # Sex of the child
    (16, 24),  # Birth weight in grams
    (24, 32)   # Number of minutes after midnight of each birth
]

# Определение имен колонок
column_names = [
    "Time_of_birth", "Sex", "Birth_weight", "Minutes_after_midnight"
]

# Загрузка данных
data = pd.read_fwf('data/babyboom.dat.txt', colspecs=colspecs, header=None, names=column_names)

data

    Time_of_birth  Sex  Birth_weight  Minutes_after_midnight
0               5    1          3837                       5
1             104    1          3334                      64
2             118    2          3554                      78
3             155    2          3838                     115
4             257    2          3625                     177
5             405    1          2208                     245
6             407    1          1745                     247
7             422    2          2846                     262
8             431    2          3166                     271
9             708    2          3520                     428
10            735    2          3380                     455
11            812    2          3294                     492
12            814    1          2576                     494
13            909    1          3208                     549
14           1035    2          3521                     635
15           1049    1          3746                     649
16           1053    1          3523                     653
17           1133    2          2902                     693
18           1209    2          2635                     729
19           1256    2          3920                     776
20           1305    2          3690                     785
21           1406    1          3430                     846
22           1407    1          3480                     847
23           1433    1          3116                     873
24           1446    1          3428                     886
25           1514    2          3783                     914
26           1631    2          3345                     991
27           1657    2          3034                    1017
28           1742    1          2184                    1062
29           1807    2          3300                    1087
30           1825    1          2383                    1105
31           1854    2          3428                    1134
32           1909    2          4162                    1149
33           1947    2          3630                    1187
34           1949    2          3406                    1189
35           1951    2          3402                    1191
36           2010    1          3500                    1210
37           2037    2          3736                    1237
38           2051    2          3370                    1251
39           2104    2          2121                    1264
40           2123    2          3150                    1283
41           2217    1          3866                    1337
42           2327    1          3542                    1407
43           2355    1          3278                    1435

In [30]:
from scipy import stats

# Разделение данных на девочек и мальчиков
girls_weights = data[data['Sex'] == 1]['Birth_weight']
boys_weights = data[data['Sex'] == 2]['Birth_weight']

# Проведение t-теста
t_stat, p_value = stats.ttest_ind(girls_weights, boys_weights)

print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: -1.5228564442562815, P-value: 0.1352891891054555

In [31]:
# Sample data
girls_weights = data[data['Sex'] == 1]['Birth_weight']
boys_weights = data[data['Sex'] == 2]['Birth_weight']

# Calculate variances
var1 = np.var(girls_weights, ddof=1)
var2 = np.var(boys_weights, ddof=1)

# Compute F-statistic
f_stat = var1 / var2

# Degrees of freedom
df1 = len(girls_weights) - 1
df2 = len(boys_weights) - 1

# Calculate p-value
p_value = 2 * min(stats.f.cdf(f_stat, df1, df2), 1 - stats.f.cdf(f_stat, df1, df2))

print(f"F-statistic: {f_stat}")
print(f"P-value: {p_value}")

F-statistic: 2.1771042882107263
P-value: 0.07526261914285004

___
2. Dataset “Euroweight” (переменные weight, batch):
* Проверить гипотезы о том, что среднее значение веса монеты одинаково в разных пакетах (попарно и все вместе).

In [32]:
# Определение имен колонок
column_names = [
    "ID", "Weight", "Batch"
]

# Загрузка данных из переменной lines
data = pd.read_csv('data/euroweight.dat.txt', sep='\t', header=None, names=column_names)

data

        ID  Weight  Batch
0        1   7.512      1
1        2   7.502      1
2        3   7.461      1
3        4   7.562      1
4        5   7.528      1
...    ...     ...    ...
1995  1996   7.514      8
1996  1997   7.519      8
1997  1998   7.606      8
1998  1999   7.547      8
1999  2000   7.494      8

[2000 rows x 3 columns]

In [33]:
from itertools import combinations
from scipy.stats import ttest_ind

# Get unique batches
batches = data['Batch'].unique()

# Perform pairwise t-tests
results = {}
for batch1, batch2 in combinations(batches, 2):
    weights1 = data[data['Batch'] == batch1]['Weight']
    weights2 = data[data['Batch'] == batch2]['Weight']
    t_stat, p_value = ttest_ind(weights1, weights2)
    results[(batch1, batch2)] = (t_stat, p_value)

# Print results
for (batch1, batch2), (t_stat, p_value) in results.items():
    print(f"Batch {batch1} vs Batch {batch2}: T-statistic = {t_stat}, P-value = {p_value}")

Batch 1 vs Batch 2: T-statistic = -1.1241810509353891, P-value = 0.26147780679017946
Batch 1 vs Batch 3: T-statistic = 3.1644998631182344, P-value = 0.001648507542831034
Batch 1 vs Batch 4: T-statistic = -4.0016907491459435, P-value = 7.245319251258257e-05
Batch 1 vs Batch 5: T-statistic = -4.0914574540531685, P-value = 4.9993849166524045e-05
Batch 1 vs Batch 6: T-statistic = 1.4565887588620556, P-value = 0.1458601194945584
Batch 1 vs Batch 7: T-statistic = -1.115153466577227, P-value = 0.26532250649811384
Batch 1 vs Batch 8: T-statistic = 0.9226820370831669, P-value = 0.3566197335516895
Batch 2 vs Batch 3: T-statistic = 4.199462222751052, P-value = 3.169999483351773e-05
Batch 2 vs Batch 4: T-statistic = -2.7223104844542156, P-value = 0.006710009918197492
Batch 2 vs Batch 5: T-statistic = -2.814325820935377, P-value = 0.00508142614345485
Batch 2 vs Batch 6: T-statistic = 2.5714317115838488, P-value = 0.010416963435836283
Batch 2 vs Batch 7: T-statistic = 0.04959673381902426, P-value = 0.9604636345373081
Batch 2 vs Batch 8: T-statistic = 2.0012885647462144, P-value = 0.04590340609895068
Batch 3 vs Batch 4: T-statistic = -7.206947257438596, P-value = 2.133668636784635e-12
Batch 3 vs Batch 5: T-statistic = -7.284521331637562, P-value = 1.2713193564149556e-12
Batch 3 vs Batch 6: T-statistic = -1.805141307141356, P-value = 0.0716564177786466
Batch 3 vs Batch 7: T-statistic = -4.2939108320435615, P-value = 2.1109930200432042e-05
Batch 3 vs Batch 8: T-statistic = -2.190430250198607, P-value = 0.02895594014026754
Batch 4 vs Batch 5: T-statistic = -0.11058751967181409, P-value = 0.9119879969281968
Batch 4 vs Batch 6: T-statistic = 5.633480730264404, P-value = 2.9575515703030458e-08
Batch 4 vs Batch 7: T-statistic = 2.8928327524912913, P-value = 0.003985016140890383
Batch 4 vs Batch 8: T-statistic = 4.8562258594913565, P-value = 1.6044716878859748e-06
Batch 5 vs Batch 6: T-statistic = 5.719424543118631, P-value = 1.8455027884917244e-08
Batch 5 vs Batch 7: T-statistic = 2.9878664362295715, P-value = 0.0029479512741382454
Batch 5 vs Batch 8: T-statistic = 4.941026511214473, P-value = 1.0630862714980697e-06
Batch 6 vs Batch 7: T-statistic = -2.6176848565515423, P-value = 0.00912223230998408
Batch 6 vs Batch 8: T-statistic = -0.47883106621889626, P-value = 0.6322689805964352
Batch 7 vs Batch 8: T-statistic = 2.0218088261270672, P-value = 0.04373034429385385

In [34]:
#Anova test for all batches
from scipy.stats import f_oneway

# Get weights for each batch
weights = [data[data['Batch'] == batch]['Weight'] for batch in batches]

# Perform ANOVA
f_stat, p_value = f_oneway(*weights)

print(f"F-statistic: {f_stat}")
print(f"P-value: {p_value}")

F-statistic: 12.67221788627366
P-value: 5.361761521220631e-16

___
3. Dataset “iris.txt” (прочитайте описание данных в файле «iris_description.txt», переменные sepal length, sepal width, petal length, petal width, class):
* Проверить гипотезы о равенстве распределений характеристик цветков разных типов. 
* Проверьте гипотезы о равенстве средних и дисперсий различных характеристик цветов разных типов.

In [35]:
data = pd.read_csv('data/iris.txt', sep=',', header=None, names=["SepalLength", "SepalWidth", "PetalLength", "PetalWidth", "Class"])

data

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [36]:
from scipy.stats import kstest

# Разделение данных по классам
setosa = data[data['Class'] == 'Iris-setosa']
versicolor = data[data['Class'] == 'Iris-versicolor']
virginica = data[data['Class'] == 'Iris-virginica']

# Проверка гипотез о равенстве распределений для каждой пары классов и каждой переменной
for column in data.columns[:-1]:
    k_stat, p_value = kstest(setosa[column], versicolor[column])
    print(f"Setosa vs Versicolor for {column}:    K-statistic = {k_stat}, P-value = {p_value}")
    k_stat, p_value =  kstest(setosa[column], virginica[column])
    print(f"Setosa vs Virginica for {column}:     K-statistic = {k_stat}, P-value = {p_value}")
    k_stat, p_value = kstest(versicolor[column], virginica[column])
    print(f"Versicolor vs Virginica for {column}: K-statistic = {k_stat}, P-value = {p_value}")

Setosa vs Versicolor for SepalLength:    K-statistic = 0.78, P-value = 2.807570962237254e-15
Setosa vs Virginica for SepalLength:     K-statistic = 0.92, P-value = 7.773164323782225e-23
Versicolor vs Virginica for SepalLength: K-statistic = 0.46, P-value = 3.800827929128319e-05
Setosa vs Versicolor for SepalWidth:    K-statistic = 0.68, P-value = 2.6679407140599687e-11
Setosa vs Virginica for SepalWidth:     K-statistic = 0.5, P-value = 4.8075337049514946e-06
Versicolor vs Virginica for SepalWidth: K-statistic = 0.26, P-value = 0.06779471096995852
Setosa vs Versicolor for PetalLength:    K-statistic = 1.0, P-value = 1.9823306042836678e-29
Setosa vs Virginica for PetalLength:     K-statistic = 1.0, P-value = 1.9823306042836678e-29
Versicolor vs Virginica for PetalLength: K-statistic = 0.86, P-value = 3.173227767377155e-19
Setosa vs Versicolor for PetalWidth:    K-statistic = 1.0, P-value = 1.9823306042836678e-29
Setosa vs Virginica for PetalWidth:     K-statistic = 1.0, P-value = 1.9823306042836678e-29
Versicolor vs Virginica for PetalWidth: K-statistic = 0.88, P-value = 2.3630419544297964e-20

In [37]:
# Проверка гипотез о равенстве средних и дисперсий различных характеристик цветов разных типов. 
# Проверка равенства средних
from scipy.stats import f_oneway

# Проверка равенства средних для каждой переменной
for column in data.columns[:-1]:
    f_stat, p_value = f_oneway(setosa[column], versicolor[column])
    print(f"Setosa vs Versicolor for {column}:    F-statistic = {f_stat}, P-value = {p_value}")
    f_stat, p_value = f_oneway(setosa[column], virginica[column])
    print(f"Setosa vs Virginica for {column}:     F-statistic = {f_stat}, P-value = {p_value}")
    f_stat, p_value = f_oneway(versicolor[column], virginica[column])
    print(f"Versicolor vs Virginica for {column}: F-statistic = {f_stat}, P-value = {p_value}")


print("_"*150)
# Проверка равенства дисперсий
from scipy.stats import levene

# Проверка равенства дисперсий для каждой переменной
for column in data.columns[:-1]:
    stat, p_value = levene(setosa[column], versicolor[column])
    print(f"Setosa vs Versicolor for {column}:    Statistic = {stat}, P-value = {p_value}")
    stat, p_value = levene(setosa[column], virginica[column])
    print(f"Setosa vs Virginica for {column}:     Statistic = {stat}, P-value = {p_value}")
    stat, p_value = levene(versicolor[column], virginica[column])
    print(f"Versicolor vs Virginica for {column}: Statistic = {stat}, P-value = {p_value}")

Setosa vs Versicolor for SepalLength:    F-statistic = 110.69115204195691, P-value = 8.985235037487275e-18
Setosa vs Virginica for SepalLength:     F-statistic = 236.7350218138295, P-value = 6.892546060673534e-28
Versicolor vs Virginica for SepalLength: F-statistic = 31.687501521236467, P-value = 1.7248563024546671e-07
Setosa vs Versicolor for SepalWidth:    F-statistic = 86.16986631822294, P-value = 4.3622390160101126e-15
Setosa vs Virginica for SepalWidth:     F-statistic = 39.556363636363635, P-value = 8.91663406700642e-09
Versicolor vs Virginica for SepalWidth: F-statistic = 10.276901987662784, P-value = 0.0018191004238894523
Setosa vs Versicolor for PetalLength:    F-statistic = 1557.7753269568584, P-value = 5.717463758171083e-62
Setosa vs Virginica for PetalLength:     F-statistic = 2496.5715121951253, P-value = 1.564122415888287e-71
Versicolor vs Virginica for PetalLength: F-statistic = 158.8552562070785, P-value = 3.178819547806349e-22
Setosa vs Versicolor for PetalWidth:    F-statistic = 1156.8418972332026, P-value = 4.589080615710564e-56
Setosa vs Virginica for PetalWidth:     F-statistic = 1826.5562755317653, P-value = 3.5827195023161212e-65
Versicolor vs Virginica for PetalWidth: F-statistic = 213.90136127147028, P-value = 2.2304090710249627e-26
______________________________________________________________________________________________________________________________________________________
Setosa vs Versicolor for SepalLength:    Statistic = 8.172720533728683, P-value = 0.005195521631017525
Setosa vs Virginica for SepalLength:     Statistic = 11.454002162818494, P-value = 0.0010271363228426147
Versicolor vs Virginica for SepalLength: Statistic = 1.024522457408365, P-value = 0.31394122352493903
Setosa vs Versicolor for SepalWidth:    Statistic = 0.6635459332943233, P-value = 0.41728596812962093
Setosa vs Virginica for SepalWidth:     Statistic = 1.0574747096290729, P-value = 0.30632327568956724
Versicolor vs Virginica for SepalWidth: Statistic = 0.08726625111308971, P-value = 0.7683067284841044
Setosa vs Versicolor for PetalLength:    Statistic = 30.897026860775114, P-value = 2.3481003006595552e-07
Setosa vs Virginica for PetalLength:     Statistic = 39.97666700191087, P-value = 7.651500019079992e-09
Versicolor vs Virginica for PetalLength: Statistic = 1.0674381993787974, P-value = 0.30406773202289594
Setosa vs Versicolor for PetalWidth:    Statistic = 15.188767812238058, P-value = 0.00017803544621676745
Setosa vs Virginica for PetalWidth:     Statistic = 38.10704049844238, P-value = 1.517207476796102e-08
Versicolor vs Virginica for PetalWidth: Statistic = 6.5454545454545485, P-value = 0.012046123630720922

___
 Dataset “sugery.xlsx” (переменные «До операции, V left», «До операции, V right», «После операции, V left», «После операции, V right»): 

* Проверить гипотезу об успешности операции с вероятностью 0.7 (0.8). Под успехом мы подразумеваем, что «V справа» до операции меньше, чем «V справа» после операции, и одновременно с этим «V слева» до операции меньше, чем «V слева» после операции.

In [38]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\github\data-analytics\.venv\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\github\data-analytics\.venv\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
data = pd.read_excel('data/surgery.xlsx')

#drop the first row
#rename the columns to VRB, VLB, VRA, VLA
data = data.drop(0)
data.columns = ["VRB", "VLB", "VRA", "VLA"]

data

     VRB    VLB   VRA   VLA
1    7.2    6.7    12  13.1
2    1.2    1.2   4.5   4.2
3    6.7    7.3  15.3  14.9
4    9.9  10.05   9.6   9.1
5    3.1   2.13   NaN   NaN
..   ...    ...   ...   ...
90     3    5.4  5.09   6.7
91  0.32   0.33   0.8  0.76
92   6.5    5.3   9.7  8.03
93  11.7    8.3  11.7   9.3
94  11.4   11.5  14.8  16.3

[94 rows x 4 columns]

In [40]:
#import the binom_test function
from scipy.stats import binomtest

# Определение успеха операции
success = (data['VRB'].astype(float) < data['VRA'].astype(float)) & \
          (data['VLB'].astype(float) < data['VLA'].astype(float))

k = success.sum()
n = len(success)

# Функция для теста пропорции
def test_proportion(k, n, p, alpha=0.05):
    p_val = binomtest(k, n, p, alternative='less').pvalue
    print(f"Гипотеза: p >= {p}, против p < {p}")
    print(f"Количество успехов: {k} из {n}")
    print(f"P-значение: {p_val}\n")
    if p_val < alpha:
        print(f"Отклоняем H0 при уровне значимости {alpha}\n")
    else:
        print(f"Не отклоняем H0 при уровне значимости {alpha}\n")

# Тест при p = 0.7
test_proportion(k, n, 0.7)

# Тест при p = 0.8
test_proportion(k, n, 0.85)

Гипотеза: p >= 0.7, против p < 0.7
Количество успехов: 69 из 94
P-значение: 0.7961639942121719

Не отклоняем H0 при уровне значимости 0.05

Гипотеза: p >= 0.85, против p < 0.85
Количество успехов: 69 из 94
P-значение: 0.002539960080399347

Отклоняем H0 при уровне значимости 0.05